
@{
    ViewData["Title"] = "PartialViewSample1";
}

<h1>PartialViewSample1</h1>

<p>An welchen Verzeichnissen in einem ASPNET Core Projekt sucht der Kompiler nach einer PartialView?</p>
<p>The following locations were searched:</<p>
<p>/Views/PartialViewSamples/_MeineErstePartialView.cshtml</p>
<p>/Views/Shared/_MeineErstePartialView.cshtml</p>

<partial name="_MeineErstePartialView" />

