@using RazorAdvanced.TagHelpers

@{
    ViewData["Title"] = "HTMLTagHelperSample";
}

<h1>HTMLTagHelperSample</h1>

@Html.HelloWorld("Mustermann")
<br />
@Html.HelloWorldHTMLString()
<br />
@Html.HelloWorldString()

