@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bitte schauen sie für das Thumbnail-Middleware Beispiel in Modul008 Files. </h1>
    <p>Die dortige Middleware wird verwenden um Photos genormt anzuzeigen</p>
    
</div>


