
@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-12 col-md-4">
            <a href="~/images/@System.IO.Path.GetFileName(item)">
                <img class="img-fluid" src="/imagegen?img=/@System.IO.Path.GetFileName(item)" />
            </a>
        </div>
    }
</div>

