
@{
    ViewData["Title"] = "SessionStartSample";
}

<h1>SessionStartSample</h1>

<h2>Wann verwendet man in ASP.NET Core eine Session?</h2>

<p>In ASP.NET Core wird eine Session verwendet, um Daten zwischen Anforderungen eines Benutzers zu speichern. Dies ist nützlich, wenn Daten über mehrere Seitenaufrufe hinweg erforderlich sind, wie z.B. beim Einkaufswagen eines Online-Shops. Eine Session kann entweder auf Server- oder Clientseite gespeichert werden und unterstützt verschiedene Speicheroptionen wie In-Memory, Cookies oder externe Speicherdienste wie Redis.</p>




<h2>Welche UseCases kann man in ASP.NET Core mit einer Session realisieren?</h2>

<p>In ASP.NET Core können Sessions verwendet werden, um die folgenden Use Cases zu realisieren:</p>

<p> 1.) Anmeldung und Authentifizierung: Daten des angemeldeten Benutzers, wie z.B. Benutzername und Rolle, können in der Session gespeichert werden, um sicherzustellen, dass der Benutzer auf geschützte Seiten zugreifen kann. </p>

<p> 2.) Einkaufswagen: Ein Einkaufswagen kann in der Session gespeichert werden, um die Produkte, die der Benutzer in den Warenkorb gelegt hat, über mehrere Seitenaufrufe hinweg zu speichern.</p>

<p> 3.) Formulardaten: Daten, die der Benutzer in ein Formular eingibt, können in der Session gespeichert werden, um sicherzustellen, dass sie bei einem Fehler oder einer Unterbrechung des Formulars erhalten bleiben.</p>

<p> 4.) Personalisierte Inhalte: Daten, die die Präferenzen oder die Navigation des Benutzers aufzeichnen, können in der Session gespeichert werden, um personalisierte Inhalte oder Funktionen bereitzustellen.</p>

<p> 5.) Zustandsverfolgung: Daten, die den Zustand einer Anwendung verfolgen, wie z.B. den Fortschritt eines Quiz oder eines Spiels, können in der Session gespeichert werden.</p>


